@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&display=swap');

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body {
    margin: 20px 40px;
    background-color: rgb(206, 161, 224);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 15px;
}

form input {
    margin-bottom: 9px;
    display:inline-block
}

form input,
form label,
form button {
    width: 70%;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 6px solid black;
    border-radius: 10px;
    width: 300px;
    padding: 0 15px 15px;
    margin: 0 10px 10px 0;
}